name: remote test

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: Log level
        required: false
        type: string
      someBool:
        description: Some boolean
        required: true
        default: true
        type: boolean
      bump:
        type: choice
        default: patch
        options: [major, minor, patch]
  push:
    branches:
      - main

jobs:
  build:
    uses: nerijusk/gh-template-test/.github/workflows/remote-workflow-1.yaml@main
    with:
      logLevel: ${{ inputs.logLevel }}
      some_number: 6
  build2:
    uses: nerijusk/gh-template-test/.github/workflows/remote-workflow-1.yaml@main
    with:
      some_number: 2
  build3:
    runs-on: ubuntu-latest
    steps:
      - name: bool test 1
        if: ${{ inputs.someBool }}
        run: echo "Hello, World!"
      - name: bool test 2
        if: ${{ !inputs.someBool }}
        run: echo "Hello, World!"
      - name: Configure version template dynamically
        id: version_template
        run: |
          if [ "${{ inputs.bump }}" = "major" ]; then
            VERSION_VAR="\$NEXT_MAJOR_VERSION"
          elif [ "${{ inputs.bump }}" = "minor" ]; then
            VERSION_VAR="\$NEXT_MINOR_VERSION"
          else
            VERSION_VAR="\$NEXT_PATCH_VERSION"
          fi

          # Update the config file to use the selected version template
          cat > release-drafter.yml << EOF
          template: |
            ## What's Changed

            \$CHANGES
          change-template: '- \$TITLE @\$AUTHOR (#\$NUMBER)'
          name-template: 'v${VERSION_VAR}'
          tag-template: 'v${VERSION_VAR}'
          EOF
      - name: check version template
        run: cat release-drafter.yml
