name: remote test

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: Log level
        required: false
        type: string
      someBool:
        description: Some boolean
        required: true
        default: true
        type: boolean
  push:
    branches:
      - main

jobs:
  build:
    uses: nerijusk/gh-template-test/.github/workflows/remote-workflow-1.yaml@main
    with:
      logLevel: ${{ inputs.logLevel }}
      some_number: 6
  build2:
    uses: nerijusk/gh-template-test/.github/workflows/remote-workflow-1.yaml@main
    with:
      some_number: 2
  build3:
    runs-on: ubuntu-latest
    steps:
      - name: bool test 1
        if: ${{ inputs.someBool }}
        run: echo "Hello, World!"
      - name: bool test 2
        if: ${{ !inputs.someBool }}
        run: echo "Hello, World!"
