name: remote test

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: Log level
        required: false
        type: string
  push:
    branches:
      - main

jobs:
  build:
    uses: nerijusk/gh-template-test/.github/workflows/remote-workflow-1.yaml@main
    with:
      logLevel: ${{ inputs.logLevel }}
      some_number: 4
  build2:
    uses: nerijusk/gh-template-test/.github/workflows/remote-workflow-1.yaml@main
    with:
      some_number: 2
